:root {
  --text-primary: #b6b6b6;
  --text-secondary: #858585;
  --bg-primary: rgb(8, 14, 17);
  --bg-secondary: rgb(10, 8, 15);
  --transition-speed: 600ms;
  --primary: oklch(0.721502 0.144777 292.879132 / 1);
  --border-radius: 4px;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(to right, var(--bg-primary), var(--bg-secondary));
  color: var(--text-primary);
  display: grid;
  place-items: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; /* Gap between grid items */
  height: 100vh;
  place-items: center;
  .box {
    margin: 3.5rem;
  }
  .box1 {
    animation: drop-in 1s ease 200ms backwards;
    .tittle {
      font-size: 4rem;
    }
    .subTittle {
      color: var(--text-secondary);
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 25px;
      .name {
        color: #6a4fe0;
        font-weight: 800;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -70px; /* Adjust the top value to position the image above the element */
          left: 50%;
          border-radius: var(--border-radius);
          transform: translateX(-50%);
          width: 60px; /* Set the desired width of the image */
          height: 60px; /* Set the desired height of the image */
          background-image: url("../img/hover/frazix.png"); /* Replace with the path to your image */
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          pointer-events: none; /* Allows the cursor to pass through the pseudo-element */
          z-index: 100;
        }
        &:hover::before {
          opacity: 1;
        }
      }
      .dev {
        color: #4f7de0;
        font-weight: 800;
      }
      .BD {
        color: #4fe06e;
        font-weight: 800;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -50px; /* Adjust the top value to position the image above the element */
          left: 50%;
          transform: translateX(-50%);
          width: 60px; /* Set the desired width of the image */
          height: 60px; /* Set the desired height of the image */
          background-image: url("../img/hover/bd.png"); /* Replace with the path to your image */
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          pointer-events: none; /* Allows the cursor to pass through the pseudo-element */
        }
        &:hover::before {
          opacity: 1;
        }
      }
      .web {
        color: #e06e4f;
        font-weight: 800;
      }
      .prodeuct {
        color: #4fcae0;
        font-weight: 800;
      }
    }
    .html {
      color: #e34f26;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -70px; /* Adjust the top value to position the image above the element */
        left: 50%;
        border-radius: var(--border-radius);
        transform: translateX(-50%);
        width: 60px; /* Set the desired width of the image */
        height: 60px; /* Set the desired height of the image */
        background-image: url("../img/hover/html5.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none; /* Allows the cursor to pass through the pseudo-element */
        /* z-index: 100; */
      }
      &:hover::before {
        opacity: 1;
      }
    }
    .css {
      color: #1572b6;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -70px; /* Adjust the top value to position the image above the element */
        left: 50%;
        border-radius: var(--border-radius);
        transform: translateX(-50%);
        width: 60px; /* Set the desired width of the image */
        height: 60px; /* Set the desired height of the image */
        background-image: url("../img/hover/css3.svg"); /* Replace with the path to your image */
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none; /* Allows the cursor to pass through the pseudo-element */
        /* z-index: 100; */
      }
      &:hover::before {
        opacity: 1;
      }
    }
    .js {
      color: #f7df1e;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -70px; /* Adjust the top value to position the image above the element */
        left: 50%;
        border-radius: var(--border-radius);
        transform: translateX(-50%);
        width: 60px; /* Set the desired width of the image */
        height: 60px; /* Set the desired height of the image */
        background-image: url("../img/hover/javascript.svg"); /* Replace with the path to your image */
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none; /* Allows the cursor to pass through the pseudo-element */
        /* z-index: 100; */
      }
      &:hover::before {
        opacity: 1;
      }
    }

    .skill {
      img {
        width: 20px;
        height: 20px;
        display: inline;
      }
    }
  }
  .box2 {
    animation: drop-in 1200ms ease 500ms backwards;
    .tittle {
      /* font-size: 4rem; */
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .links {
      .btn {
        width: 5.5rem;
        height: 2.5rem;
        border: none;
        border-radius: var(--border-radius);
        background: var(--primary);
        outline: none;
        margin: 7px;
        transition: all 0.2s ease-in-out;
        a {
          color: var(--text-primary);
          filter: brightness(0);
          text-decoration: none;
        }
        &:hover {
          scale: 1.11;
          cursor: pointer;
          box-shadow: 0 0 9px rgba(145, 92, 182, 0.4);
        }
      }
    }
    .stuffs {
      .item {
        margin: 15px 0 15px;
        width: 100%;
        height: 4.5rem;
        border-radius: var(--border-radius);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
      }
    }
  }
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@media (max-width: 768px) {
  /* Media query for mobile screens */
  .container {
    grid-template-columns: 1fr; /* Single column */
  }
  .BD::before {
    transition: all 0.3s ease-in-out 2s;
  }
  .name::before {
    transition: all 0.3s ease-in-out 2s;
  }
}
